@import 'https://fonts.googleapis.com/css?family=Oswald';

#branding {
	display: flex;
	
	.region-branding {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: baseline;
	text-align: center;
	@media only screen and (max-width: 600px) {
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	}
	p {
		margin: 0;
	}
	.block .content {
		margin-top: 0;
	}
	p > a {
		background: url("../images/princeton-university-logo.png") no-repeat 50% 50%;
		background-size: 296.66667px 24.66667px;
		text-indent: -999em;
		min-width: 300px;
		text-align: left;
		padding: 1em 0 1em 1em;
		display: block;
	}
	#block-searchform {
	
		.search-block-form {
			display: flex;
			justify-content: center;
			align-items: baseline;
		}

		@media only screen and (max-width: 600px) {
		}

		
		.search-form .form-search {
		float: none;
		width: 200px;
		}
	}
}

.menu--main {
	background-color: #525355;
}

.region-primary-menu .menu {
	padding: 0.5em 0 0.5em 0;
	text-align: center;
	ul li {
		display: inline;
		vertical-align: middle;
		margin: 0 0.25em 0 0.25em;
	}
	a {
		color: white;
	}
	a.active {
		color: #c9c9c9;
	}
}


#headerwell {
	.region-headerwell {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		}
		
	.menu--main {
		display: flex;
		justify-content: center;
		}
}